.input{
    @apply w-full p-[4px] border-[1px] rounded border-gray-400;
}

.editItem{
    @apply flex flex-row w-[80%] justify-between items-center 
    cursor-pointer 
    p-2 rounded-md border-[1px] border-gray-200 transition-all;
}
.editItem__btnDelete{
    @apply py-2 px-4 hover:bg-gray-200 rounded-md border-[1px] border-gray-300 transition-all
}

.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: 20px;
    background-color: #ccc;
}

.slider:before{
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    text-align: center;
    content: 'NO';
    font-size: 0.7rem;
    color:#696969;
    font-weight: bold;
    line-height: 22px;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked + .slider{
    background-color: #214696;
}

input:checked + .slider::before{
    transform: translateX(28px);
    color:#214696;
    content: 'SI';
}
